.faq-section {
  margin-top: 4rem;
  padding: 2.5rem;
  width: 70%;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(12px);
  color: #fff;
  /* box-shadow: 0 0 18px rgba(245, 212, 66, 0.1); */
  transition: all 0.4s ease-in-out;
}

.faq-heading {
  text-align: center;
  color: #f5d442;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.faq-item {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f5d44233;
}

.faq-question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1.1rem;
  color: #ffffff;
  transition: color 0.3s;
}

.faq-question:hover {
  color: #fff176;
}

.faq-answer {
  margin-top: 0.5rem;
  font-size: 0.95rem;
  color: #ddd;
  line-height: 1.5;
  transition: all 0.3s ease-in;
}

.faq-icon {
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

/* Responsive */
@media (max-width: 768px) {
  .faq-section {
    padding: 1.5rem;
  }

  .faq-heading {
    font-size: 1.6rem;
  }

  .faq-question {
    font-size: 1rem;
  }

  .faq-answer {
    font-size: 0.9rem;
  }
}
