/* Outer container */
.qr-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Title */
.qr-title {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: #f5d442;
}

/* Main QR card */
.qr-card {
  /* background: #2a2a2a; */
  padding: 2rem;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Wrapper for two sections */
.qr-cards-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .qr-cards-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Input Section Card */
.qr-card-section {
  text-align: start;
  padding: 1rem;
  flex: 1;
  align-items: center;
  align-content: center;
}

/* Label */
.input-label {
  display: block;
  font-size: 0.9rem;
  color: #ccc;
  margin-bottom: 0.5rem;
}

/* Input field */
.qr-input {
  width: 90%;
  padding: 0.75rem;
  border: none;
  background: #333;
  outline: none;
  color: #fff;
  font-size: 1rem;
}

/* QR Code display */
.qr-display-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  position: relative;
}

.qr-display-section {
  position: relative;
}

.qr-corner-logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  z-index: 10;
  pointer-events: none;
}


/* QR Placeholder */
.qr-placeholder {
  color: #999;
  font-style: italic;
}

.qr-logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  object-fit: contain;
  background-color: #fff;
  padding: 2px;
}




/* Save button */
.qr-download {
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  background-color: #f5d442;
  color: #000;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.qr-download:hover {
  background-color: #e0c63d;
}


.qr-action-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.qr-action-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-top: 1.5rem;
}

.qr-icon-text-button {
  background-color: transparent;
  color: #e0c63d;
  border: 1px solid #e0c63d;
  padding: 0.6rem 1.2rem;
  font-weight: 400;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.qr-icon-text-button:hover {
  background-color: #e0c63d;
  color: #000;
  transform: scale(1.05);
}

.qr-btn-icon {
  font-size: 1.2rem;
}


@media (min-width: 640px) {
  .qr-action-row {
    flex-direction: column;
    justify-content: center;
  }
}

.floating-link {
  color: #f5d442;
  font-weight: 600;
  text-decoration: none;
  font-size: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.floating-link:hover {
  color: #fff;
}


